@font-face {
    font-family: "custom-play";
    src: url('play.woff2') format('woff');
}
@font-face {
    font-family: "custom-dig";
    src: url('digital_(mono).ttf') format('truetype');
}
body {
    position: relative;
    margin: 0;
    background-color: #080B0E;
	display: flex;
	justify-content: center;
}

.label {
	color: white;
	flex: 1 0 auto;
	background-color: rgba(255, 255, 255, 0.1);
	font-size: 20px;
	font-family: Monaco;
	display: flex;
	justify-content: center;
	align-items: center;
}
