<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<!-- <meta name="apple-mobile-web-app-capable" content="yes"/> -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/animation.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/canvas.css')}}"/>
        <title>Terminal of Avem</title>
    </head>
    <body>
		<!-- <div class="label">123</div> -->
        <canvas class="screen" width="900px" height="700px"></canvas>
		<!-- <div class="label">123</div> -->

        <script src="{{url_for('static', filename = 'scripts/jquery-2.1.4.min.js')}}"></script>
        <script src="{{url_for('static', filename = 'scripts/canvas.js')}}"></script>
    </body>
</html>
